.servicesTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    margin: 20px;
    width: 90%;
}
    .btnCollaps {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Anonymous_Pro', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color:rgb(209, 225, 217);
        width: 300px;
        height: 40px;
    }
        .CollapsThreePts {
            width: 20%;
        }
        .CollapsOnePt {
            width: 8%;
        }
    .servicesDescription{
        list-style-type: none;
        font-family: 'Anonymous_Pro', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 10px;
        border: none;
        background-color:rgb(109, 189, 150);
        width: 280px;
        padding: 10px;
    }