@font-face {
    font-family: 'League_Gothic';
    src: url('../../assets/League_Gothic/static/LeagueGothic_SemiCondensed-Regular.ttf') format('truetype');
}
.pageTitle {
    width: 100%;
    position: absolute;
    top: 18%;
    text-transform: uppercase;
    font-size: 150px;
    font-family: 'League_Gothic', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgb(237, 218, 78);
    letter-spacing: 13px;
    text-align: center;
}
