.description {
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Anonymous_Pro', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    list-style-type: none;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
