.description {
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Anonymous_Pro', Arial, Helvetica, sans-serif;
    line-height: 2;
    list-style-type: none;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
}
    .textBold{
        font-weight: bold ;
    }
    