.Footer {
    width: 100%;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 33, 61);
    font-size: 13px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
    .Footer p {
        margin: 4px;
    }