.skillsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    gap: 40px;
}
    .skillsCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
        width: 100px;
    }
        .skillsTitle {
            text-align: center;
            font-family: 'Anonymous_Pro', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .skillsLogo {
            width: 60px;
            margin: auto;
        }
        .ratingGauge {
            height: 12px;
            background: linear-gradient(to right, rgb(02, 33, 61), rgb(22, 219, 101)) ;
            border-radius: 10px;
            position: relative;
            overflow: hidden;    
        }
        .ratingGauge::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: var(--percent); /*définit la largeur */
            background: rgb(223, 223, 223);
        } 
  

  

  
