body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto; /* Active le défilement du contenu lorsque nécessaire */
  background-image: url('../src/assets/img_fond.webp');
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}