@font-face {
    font-family: 'League_Gothic_SemiCondensed';
    src: url('../src/assets/League_Gothic/static/LeagueGothic_SemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League_Gothic_Condensed';
    src: url('../src/assets/League_Gothic/static/LeagueGothic_Condensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League_Gothic';
    src: url('../src/assets/League_Gothic/static/LeagueGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Anonymous_Pro';
    src: url('../src/assets/Anonymous_Pro/AnonymousPro-Regular.ttf') format('truetype');
}
