.projectsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 88%;
}
    .projectsCard {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        width: 300px;
    }
        .projectsTitle {
            text-align: left;
            font-family: 'Anonymous_Pro', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(20, 33, 61);
            font-size: 20px;
            margin: 4px 0 4px 10px;
        }
        .projectsImg {
            width: 100%;
            height: 87%;
            object-fit: cover;
            border-radius: 10px;
            margin: auto;
        }
        .projectsTag {
            width: 100%;
            margin-left: 10px;
            text-align: left;
            font-size: 12.5px;
            color: black;
        }
a {
    text-decoration: none;
}